<aside class="sidebar">
  <div class="sidebar__logo">
    <div class="logo-mark"><img src="assets/images/LogoCNI.png" alt="CNI"></div>
    <div class="logo-text">
      <span class="logo-name">INSAF</span>
      <span class="logo-sub">Payroll Intelligence</span>
    </div>
  </div>

  <nav class="sidebar__nav">
    <span class="nav-group-label">{{ 'nav.analytics' | translate }}</span>
    <ng-container *ngFor="let item of coreNav">
      <a *ngIf="isVisible(item)" class="nav-item"
         [routerLink]="item.route" routerLinkActive="nav-item--active">
        <div class="nav-item__icon"><mat-icon>{{ item.icon }}</mat-icon></div>
        <span class="nav-item__label">{{ item.label | translate }}</span>
      </a>
    </ng-container>

    <div class="nav-sep"></div>
    <span class="nav-group-label">{{ 'nav.pipeline' | translate }}</span>
    <ng-container *ngFor="let item of pipelineNav">
      <a *ngIf="isVisible(item)" class="nav-item"
         [routerLink]="item.route" routerLinkActive="nav-item--active">
        <div class="nav-item__icon"><mat-icon>{{ item.icon }}</mat-icon></div>
        <span class="nav-item__label">{{ item.label | translate }}</span>
      </a>
    </ng-container>

    <div class="nav-sep"></div>
    <span class="nav-group-label">{{ 'nav.admin' | translate }}</span>
    <ng-container *ngFor="let item of adminNav">
      <a *ngIf="isVisible(item)" class="nav-item"
         [routerLink]="item.route" routerLinkActive="nav-item--active">
        <div class="nav-item__icon"><mat-icon>{{ item.icon }}</mat-icon></div>
        <span class="nav-item__label">{{ item.label | translate }}</span>
      </a>
    </ng-container>
  </nav>

  <div class="sidebar__footer">
    <div class="user-row">
      <div class="user-avatar">{{ (auth.getCurrentUser()?.username || 'U')[0].toUpperCase() }}</div>
      <div class="user-details">
        <span class="user-name">{{ auth.getCurrentUser()?.username }}</span>
        <span class="user-role">
          <span class="online-dot"></span>
          {{ auth.getCurrentUser()?.role | slice:5 | lowercase }}
        </span>
      </div>
    </div>
  </div>
</aside>
